<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330727299335-od6i66tmknts3pemjkogo8au80nk18tv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330727299335-od6i66tmknts3pemjkogo8au80nk18tv</string>
	<key>API_KEY</key>
	<string>AIzaSyBfQ4NK2FA5J46_Wj-j0Btq6rVOkFR7ui8</string>
	<key>GCM_SENDER_ID</key>
	<string>330727299335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.charity</string>
	<key>PROJECT_ID</key>
	<string>gofund-3805a</string>
	<key>STORAGE_BUCKET</key>
	<string>gofund-3805a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330727299335:ios:dafa658391bb7651d38da2</string>
</dict>
</plist>